.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.list div {
  padding: 1em;
  margin: 1em;
  border: 2px solid;
  border-radius: 3;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, purple, blue);
}