:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  font: 18px / 145% var(--sans);
  --width: 1126px;
}

body {
  color: #9ca3af;
  margin: 0rem;
}

#root {
  width: var(--width);
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #2e303a;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
